NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://chinnusai:Saicharan123@cluster0.tt0hddi.mongodb.net/?appName=StudentMentor
JWT_SECRET=Saicharan@143
JWT_EXPIRE=7d
AI_API_KEY=AIzaSyDV0CaLqAjbBkYO_w9JrVoXlkyYmvlU6IM
AI_MODEL=gemini-2.0-flash
